{{define "base"}}
  <!DOCTYPE html>
  <html>
    <head>
      <title>{{.Data.Title}}</title>
    </head>
    <body>
      <h1>{{.Data.Title}}</h1>
      <h4>{{.FlashSuccess}}</h4>
      {{template "content" .}}
    </body>
  </html>
{{end}}
